body {
    background-image: url("./../images/darkwood.jpg");
    height: 101%;
    padding: 15px;
}
html {
    height:101%;
}
#app {
    position: relative;
    min-height: 100%;
    padding-bottom: 180px;
}
.container {
    padding: 10px;
    border: 2px groove white;
    border-radius: 10px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 10px;
}
.title2 {
    color:#2A9FD6
}
.memberContainer {
    position: relative;
}
.newItemDiv {
    position: relative;
    bottom: -13px;
}
.colorLegend {
    width: 150px;
    border: 2px groove white;
    border-radius: 10px;
    float: right;
    margin-bottom: 10px;
}
.headRow {
    border-bottom: 1px solid white;
}
.instructionsDiv {

}
.instructionsHeader {
    text-decoration: underline;
    font-size: 28px;
    margin: auto;
}
.instructions {
    border: 2px groove white;
    padding: 20px;
    color: yellow;
}
.newAreaContainer {

}
.tableForm {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.loginForm {
    width: 100%;
    max-width: 600px;
    background-image: url("./../images/darkstriped.jpg");
    margin: auto;
    margin-top: 40px;
    border: 2px groove white;
    border-radius: 10px;
    padding: 10px;
}
.legendTitle {
    border-bottom: 2px groove white;
    padding-bottom: 5px;
}
.dateDiv {
    background-color: #181818;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    height: 80px;
    margin-left: 10px;
    width: 100%;
    max-width: 180px;
}
.dayDiv {
    background-color: #181818;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    height: 80px;
    margin-left: 10px;
    width: 100%;
    max-width: 90px;
}
.date {
    height: 30px;
    width: 100%;
    max-width: 150px;
    margin: auto;
}
.days {
    height: 30px;
    width: 100%;
    max-width: 80px; 
    margin: auto;
}
.areaName {
    padding-left: 10px;
    padding-bottom: 10px;
}
.btn {
    margin-top: 15px;
    background-color: #181818;
    color: white; 
    width: 150px;
}
.inventoryButton {
    width: 30%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #2A9FD6;    
    border-radius: 10px;
    font-size: 16px;
    float: right;
}
#name {
    width: 250px
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 45px;
    margin-bottom: 0px;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 45px;
	line-height: 36px;
	margin: 0 26px 0 0;
	padding: 0;
	text-align: center;
	width: 45px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
